---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1505372950
    body:
      encoding: UTF-8
      string: '{"data":[{"userId":"delete_yourself_123","action":"setUserAttributes","userAttributes":{"first_name":"Mike","last_name":"Jones","gender":"m","email":"still_tippin@test.com","create_date":"2010-01-01","is_tipping":true}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 7b7c5c1e85a47687ae5903a74cb97673
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Thu, 14 Sep 2017 07:09:10 GMT
- request:
    method: get
    uri: https://www.leanplum.com/api?action=deleteUser&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&userId=delete_yourself_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 82997ba6dfc943f60f7d1e4fd27c0eeb
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Thu, 14 Sep 2017 07:09:10 GMT
- request:
    method: get
    uri: https://www.leanplum.com/api?action=exportUser&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&userId=delete_yourself_123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 971a5ce9e92e4002614131733a2057e6
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"User not found;
        request skipped."}}]}'
  recorded_at: Thu, 14 Sep 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
