---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=exportData&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&endDate=20171012&startDate=20171005
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - a343aefa76f3461f0ab7a7cc74e2b02b
    body:
      encoding: UTF-8
      string: '{"response":[{"jobId":"export_5707577103220736_6844057600080957440","success":true}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
