---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=exportUser&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&userId=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 1e415022b0f20476f58e39e8b81ed9ac
    body:
      encoding: UTF-8
      string: '{"response":[{"totalSessions":0,"timeSpentInApp":0.0,"userAttributes":{"is_tipping":"True","gender":"m","last_name":"Jones","create_date":"2010-01-01","first_name":"Mike","email":"still_tippin@test.com"},"lastActive":null,"devices":[],"success":true,"created":1.504035837135E9,"unsubscribeChannels":[],"userId":"123456","events":{"purchase":{"firstTime":1.504196905943E9,"lastTime":1.504198144273E9,"count":2}},"userBucket":358,"states":{}}]}'
  recorded_at: Sat, 12 Aug 2017 07:00:00 GMT
recorded_with: VCR 3.0.3
