---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?ab_test_id&action=exportUsers&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&segment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - df14ae5ccab73158a1947c3245bcb7ae
    body:
      encoding: UTF-8
      string: '{"response":[{"jobId":"export_users_4727756026281984_463727504458688512","success":true}]}'
  recorded_at: Thu, 14 Sep 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
