---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=exportData&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&endDate=20170806&startDate=20170805
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - a2afa156055ea0473f5bc37bf6678ccb
    body:
      encoding: UTF-8
      string: '{"response":[{"jobId":"export_4727756026281984_7697342875813400576","success":true}]}'
  recorded_at: Thu, 14 Sep 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
