---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=exportUser&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&userId=123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - bbb1fc0425606aa6d67aaf41a99c79a8
    body:
      encoding: UTF-8
      string: '{"response":[{"totalSessions":0,"timeSpentInApp":0.0,"userAttributes":{"is_tipping":"True","gender":"m","last_name":"Jones","create_date":"2010-01-01","first_name":"Mike","email":"still_tippin@test.com"},"lastActive":null,"devices":[{"deviceId":"fu123"}],"success":true,"created":1.504288257836E9,"unsubscribeChannels":[],"userId":"123456","events":{"eventName1":{"firstTime":1.50528655E9,"lastTime":1.507848284E9,"count":1},"purchase":{"firstTime":1.507836536269E9,"lastTime":1.507848576048E9,"count":20}},"userBucket":358,"states":{}}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
