---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=exportData&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&endDate=20150906&startDate=20150905
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response":[{"error":{"message":"No matching data found."},"success":false}]}'
  recorded_at: Wed, 12 Aug 2015 00:00:00 GMT
recorded_with: VCR 2.9.3
