---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?ab_test_id&action=exportUsers&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&segment
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 3698b91551f7c40737acc3cff46ff5fd
    body:
      encoding: UTF-8
      string: '{"response":[{"jobId":"export_users_5707577103220736_2802502904161101824","success":true}]}'
  recorded_at: Thu, 12 Oct 2017 22:44:44 GMT
recorded_with: VCR 3.0.3
