---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=exportData&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&startDate=20150804&startTime=1438660800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response":[{"error":{"message":"No matching data found."},"success":false}]}'
  recorded_at: Wed, 12 Aug 2015 04:00:00 GMT
recorded_with: VCR 3.0.3
