---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=getAbTests&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_CONTENT_READ_ONLY_KEY>&devMode=false&recent=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - f52d5374d505ff6d4fc6fc17fecf02a2
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"abTests":[]}]}'
  recorded_at: Mon, 11 Sep 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
