---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=getMessages&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_CONTENT_READ_ONLY_KEY>&devMode=false&recent=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 12a07ad33968771fe966d66789f04e87
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"messages":[{"id":5670583287676928,"created":1.440091595799E9,"name":"New
        Message","active":false,"messageType":"Push Notification"}]}]}'
  recorded_at: Wed, 12 Aug 2015 04:00:00 GMT
recorded_with: VCR 3.0.3
