---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=getMessages&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_CONTENT_READ_ONLY_KEY>&devMode=false&recent=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 8df179cc688388058ff56e15f0101f15
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"messages":[{"messageType":"Email","created":1.506018056324E9,"name":"New
        Congressional Vote","active":true,"id":5342363864268800},{"messageType":"Push
        Notification","created":1.505957222414E9,"name":"New Message","active":false,"id":5092158564728832},{"messageType":"Email","created":1.506018136251E9,"name":"New
        Congressional Vote - House","active":true,"id":6020944592371712},{"messageType":"Email","created":1.506018186998E9,"name":"New
        Congressional Vote - Senate","active":true,"id":4862499415654400}]}]}'
  recorded_at: Thu, 12 Oct 2017 22:44:44 GMT
recorded_with: VCR 3.0.3
