---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=getAbTests&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_CONTENT_READ_ONLY_KEY>&devMode=false&recent=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 940c0326feba31bcf8d217cc7cc87724
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"abTests":[]}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
