---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=getExportResults&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DATA_EXPORT_KEY>&devMode=false&jobId=export_4727756026281984_2904941266315269120
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Trace-Context:
      - 99791af56ed96a2e814f36bba5e43e5c
    body:
      encoding: UTF-8
      string: '{"response":[{"files":["https://leanplum_export.storage.googleapis.com/export-4727756026281984-d5969d55-f242-48a6-85a3-165af08e2306-output-0"],"jobId":"export_4727756026281984_2904941266315269120","numBytes":36590,"state":"FINISHED","success":true,"numSessions":101}]}'
  recorded_at: Sat, 12 Aug 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
