---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=getAbTests&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_CONTENT_READ_ONLY_KEY>&devMode=false&recent=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Trace-Context:
      - e6ae12b1a7b12094b3d4ae7f38fc28bf
    body:
      encoding: UTF-8
      string: '{"response":[{"abTests":[],"success":true}]}'
  recorded_at: Sat, 12 Aug 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
