---
http_interactions:
- request:
    method: get
    uri: https://www.leanplum.com/api?action=getMessage&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_CONTENT_READ_ONLY_KEY>&devMode=false&id=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Trace-Context:
      - 7da0e833b34df34c9cd2b6e4a31eb65c
    body:
      encoding: UTF-8
      string: '{"response":[{"error":{"message":"Message not found."},"success":false}]}'
  recorded_at: Sat, 12 Aug 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
