---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&time=1502521200
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"setUserAttributes","resetAnomalies":true,"userId":123456}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - ff5bf5830f2d5360c4cdf74f90c1f35b
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Sat, 12 Aug 2017 07:00:00 GMT
recorded_with: VCR 3.0.3
