---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&time=1507848284
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"setUserAttributes","resetAnomalies":true,"userId":123456}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 3caee68a1bacbaa3f1644b47e03b953a
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Thu, 12 Oct 2017 22:44:44 GMT
recorded_with: VCR 3.0.3
