---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&time=1439352000
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"setUserAttributes","resetAnomalies":true,"userId":123456}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Trace-Context:
      - 7fc336dc94532d27ed028e63a8fab49e
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Wed, 12 Aug 2015 04:00:00 GMT
recorded_with: VCR 3.0.3
