---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1502521200
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"sendMessage","messageId":"5389574245449728","userId":"thisisaninvaliduserid","deviceId":null,"createDisposition":"CreateNever","force":false,"values":"{}","devMode":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Trace-Context:
      - b3a387c433f1f88c2faf8bd767839030
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"User not found;
        request skipped."}}]}'
  recorded_at: Sat, 12 Aug 2017 07:00:00 GMT
recorded_with: VCR 3.0.3
