---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1502521200
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"sendMessage","messageId":"thisisaninvalidmessageid","userId":123456,"deviceId":null,"createDisposition":"CreateNever","force":false,"values":"{}","devMode":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 1ffa4e4be8d7bbf4ffc355ee43cfb452
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"Message entity not
        found"}}]}'
  recorded_at: Sat, 12 Aug 2017 07:00:00 GMT
recorded_with: VCR 3.0.3
