---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1507848284
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"sendMessage","messageId":"thisisaninvalidmessageid","userId":123456,"deviceId":null,"createDisposition":"CreateNever","force":false,"values":"{}","devMode":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 37ac5d47e6fb0a44cde5a2b2645f6912
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"Message entity not
        found"}}]}'
  recorded_at: Thu, 12 Oct 2017 22:44:44 GMT
recorded_with: VCR 3.0.3
