---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1502521200
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"sendMessage","messageId":"5389574245449728","userId":123456,"deviceId":"fu123","createDisposition":"CreateNever","force":false,"values":"{}","devMode":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 07de6efcc2972c120a88951a792df0a6
    body:
      encoding: UTF-8
      string: '{"response":[{"result":"Message sent","success":true,"messagesSent":1,"warning":{"message":"Device
        clock skew detected (38 days behind). Rewriting timestamp."}}]}'
  recorded_at: Sat, 12 Aug 2017 07:00:00 GMT
recorded_with: VCR 3.0.3
