---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1507792150
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"sendMessage","messageId":"5389574245449728","userId":"thisisaninvaliduserid","deviceId":null,"createDisposition":"CreateNever","force":false,"values":"{}","devMode":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - e9a9c88a0b556e11ad0179d3e14412d8
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"User not found;
        request skipped."}}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
