---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1505188800
    body:
      encoding: UTF-8
      string: '{"data":[{"deviceId":"fu123","action":"setDeviceAttributes","deviceAttributes":{"appVersion":"x42x","deviceModel":"p0d","create_date":"2018-01-01"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 6ec4b402d1c555c201252f88d73210ee
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Tue, 12 Sep 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
