---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_CLIENT_KEY>&devMode=true&time=1439330400
    body:
      encoding: UTF-8
      string: '{"data":[{"userId":123456,"action":"setUserAttributes","userAttributes":{"first_name":"Mike","last_name":"Jones","gender":"m","email":"still_tippin@test.com","create_date":"2010-01-01"}},{"action":"setUserAttributes","userAttributes":{"first_name":"Moe"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true},{"error":{"message":"Invalid app\/user
        combination"},"success":false}]}'
  recorded_at: Tue, 11 Aug 2015 22:00:00 GMT
recorded_with: VCR 2.9.3
