---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1505372950
    body:
      encoding: UTF-8
      string: '{"data":[{"userId":123456,"action":"setUserAttributes","devices":[{"device_id":"fu123","appVersion":"x42x","deviceModel":"p0d","create_date":"2018-01-01"}],"events":{"eventName1":{"count":1,"firstTime":1505286550,"lastTime":1505372950}},"userAttributes":{"first_name":"Mike","last_name":"Jones","gender":"m","email":"still_tippin@test.com","create_date":"2010-01-01","is_tipping":true}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - b3c2b0e268a8b9d0b5b2a837220c047a
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Thu, 14 Sep 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
