---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1502521200
    body:
      encoding: UTF-8
      string: '{"data":[{"userId":"spock","action":"setUserAttributes","userAttributes":{"first_name":"Spock","gender":"m","email":"spock@ufop.org","create_date":"2018-01-01"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - a7cbf7ec2d64ead141ab0db021de994b
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"Device clock skew
        detected (38 days behind). Rewriting timestamp."}}]}'
  recorded_at: Sat, 12 Aug 2017 07:00:00 GMT
recorded_with: VCR 3.0.3
