---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1507848284
    body:
      encoding: UTF-8
      string: '{"data":[{"userId":"spock","action":"setUserAttributes","userAttributes":{"first_name":"Spock","gender":"m","email":"spock@ufop.org","create_date":"2018-01-01"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 7ef1e5c6b5d4fee7fbd141a9a993a028
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true}]}'
  recorded_at: Thu, 12 Oct 2017 22:44:44 GMT
recorded_with: VCR 3.0.3
