---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1505102400
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"track","event":"purchase","userId":123456,"time":"1505102400","params":{"some_timestamp":"2015-05-01
        01:02:03"}},{"action":"track","event":"purchase_page_view","userId":54321,"time":"1505101800"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - f44cd7925d87e374ae037adfe49c32df
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"isOffline":true},{"success":true,"isOffline":true}]}'
  recorded_at: Mon, 11 Sep 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
