---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1505188800
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"track","event":"purchase","userId":123456,"time":1473652800,"params":{"some_timestamp":"2015-05-01
        01:02:03"}},{"action":"track","event":"purchase_page_view","userId":54321,"time":1473652200}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 0b2d4c78bb712eb607f011ba61eb09cf
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"isOffline":true},{"success":true,"warning":{"message":"Past
        event detected (365 days ago). Rewriting timestamp."},"isOffline":true}]}'
  recorded_at: Tue, 12 Sep 2017 04:00:00 GMT
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&time=1505188800
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"setUserAttributes","resetAnomalies":true,"userId":123456},{"action":"setUserAttributes","resetAnomalies":true,"userId":54321}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - b565a9236508b41e2842074ccb6c4422
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true},{"success":true}]}'
  recorded_at: Tue, 12 Sep 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
