---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1502521200
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"track","event":"purchase","userId":123456,"time":"1502521200","allowOffline":true,"params":{"some_timestamp":"2015-05-01
        01:02:03"}},{"action":"track","event":"purchase_page_view","userId":54321,"time":"1502520600","allowOffline":true}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Trace-Context:
      - da0211f2f027a6d6521dbbc188cc4764
    body:
      encoding: UTF-8
      string: '{"response":[{"isOffline":true,"success":true,"warning":{"message":"Device
        clock skew detected (5 days behind). Rewriting timestamp."}},{"isOffline":true,"success":true,"warning":{"message":"Device
        clock skew detected (5 days behind). Rewriting timestamp."}}]}'
  recorded_at: Sat, 12 Aug 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
