---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1505372950
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"track","event":"purchase","userId":123456,"time":1505372950,"params":{"some_timestamp":"2015-05-01
        01:02:03"}},{"action":"track","event":"purchase_page_view","userId":54321,"time":1505372350},{"userId":123456,"action":"setUserAttributes","userAttributes":{"first_name":"Mike","last_name":"Jones","gender":"m","email":"still_tippin@test.com","create_date":"2010-01-01","is_tipping":true}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 370430d1328668596903479e939bd7b2
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"isOffline":true},{"success":true,"isOffline":true},{"success":true}]}'
  recorded_at: Thu, 14 Sep 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
