---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1507792150
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"track","event":"purchase","userId":123456,"time":1444633750,"params":{"some_timestamp":"2015-05-01
        01:02:03"}},{"action":"track","event":"purchase_page_view","userId":54321,"time":1444633150}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - fd3a637c7a9534e9f104e0b8644af63f
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"Past event detected
        (731 days ago). Rewriting timestamp."},"isOffline":true},{"success":true,"warning":{"message":"Past
        event detected (731 days ago). Rewriting timestamp."},"isOffline":true}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&time=1507792150
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"setUserAttributes","resetAnomalies":true,"userId":123456},{"action":"setUserAttributes","resetAnomalies":true,"userId":54321}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 4ef43ecdfe774334d4b146f12204d44a
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true},{"success":true}]}'
  recorded_at: Thu, 12 Oct 2017 07:09:10 GMT
recorded_with: VCR 3.0.3
