---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1439337600
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"track","event":"purchase","userId":12345,"time":"1439337600","params":{"some_timestamp":"2015-05-01
        01:02:03"}},{"action":"track","event":"purchase_page_view","userId":54321,"time":"1439337000"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response":[{"isOffline":true,"success":true,"warning":{"message":"Anomaly
        detected: time skew. User will be excluded from analytics."}},{"success":true,"warning":{"message":"Anomaly
        detected: time skew. User will be excluded from analytics."}}]}'
  recorded_at: Wed, 12 Aug 2015 00:00:00 GMT
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&time=1439337600
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"setUserAttributes","resetAnomalies":true,"userId":12345},{"action":"setUserAttributes","resetAnomalies":true,"userId":54321}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"Anomaly detected:
        time skew. User will be excluded from analytics."}},{"success":true,"warning":{"message":"Anomaly
        detected: time skew. User will be excluded from analytics."}}]}'
  recorded_at: Wed, 12 Aug 2015 00:00:00 GMT
recorded_with: VCR 2.9.3
