---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1505102400
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"track","event":"purchase","userId":123456,"time":"1505102400","params":{"some_timestamp":"2015-05-01
        01:02:03"}},{"action":"track","event":"purchase_page_view","userId":54321,"time":"1505101800"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - f2a895ac46b31a94f25bf4643b273e64
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true,"warning":{"message":"Device clock skew
        detected (1 days behind). Rewriting timestamp."},"isOffline":true},{"success":true,"warning":{"message":"Device
        clock skew detected (1 days behind). Rewriting timestamp."},"isOffline":true}]}'
  recorded_at: Mon, 11 Sep 2017 04:00:00 GMT
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_DEVELOPMENT_KEY>&devMode=false&time=1505102400
    body:
      encoding: UTF-8
      string: '{"data":[{"action":"setUserAttributes","resetAnomalies":true,"userId":123456},{"action":"setUserAttributes","resetAnomalies":true,"userId":54321}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cloud-Trace-Context:
      - 5c7c70c5b976da012c82777dda0dbf37
    body:
      encoding: UTF-8
      string: '{"response":[{"success":true},{"success":true}]}'
  recorded_at: Mon, 11 Sep 2017 04:00:00 GMT
recorded_with: VCR 3.0.3
