---
http_interactions:
- request:
    method: post
    uri: https://www.leanplum.com/api?action=multi&apiVersion=1.0.6&appId=<LEANPLUM_APP_ID>&clientKey=<LEANPLUM_PRODUCTION_KEY>&devMode=false&time=1439352000
    body:
      encoding: UTF-8
      string: '{"data":[{"userId":123456,"action":"setUserAttributes","userAttributes":{"first_name":"Mike","last_name":"Jones","gender":"m","email":"still_tippin@test.com","create_date":"2010-01-01","is_tipping":true},"events":{"eventName1":{"count":1,"firstTime":"2015-08-12T04:00:00Z","lastTime":"2015-08-12T04:00:00Z"}}},{"action":"track","event":"purchase","userId":123456,"time":"1439352000","params":{"some_timestamp":"2015-05-01
        01:02:03"}},{"action":"track","event":"purchase_page_view","userId":54321,"time":"1439351400"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cloud-Trace-Context:
      - 4e5e010e2e0094632386aede8857947a
    body:
      encoding: UTF-8
      string: '{"response":[{"error":{"message":"event ''eventName1'' firstTime is
        invalid."},"success":false,"warning":{"message":"Device clock skew detected
        (736 days behind). Rewriting timestamp."}},{"isOffline":true,"success":true,"warning":{"message":"Device
        clock skew detected (736 days behind). Rewriting timestamp."}},{"isOffline":true,"success":true,"warning":{"message":"Device
        clock skew detected (736 days behind). Rewriting timestamp."}}]}'
  recorded_at: Wed, 12 Aug 2015 04:00:00 GMT
recorded_with: VCR 3.0.3
